/* Change the colour of highlighting text */
::selection {
    background: #E6E6FA; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #E6E6FA; /* Gecko Browsers */
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-top: 50px;
    margin-bottom: 80px;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.navbar-header {
    margin-bottom: 0;
    padding-bottom: 0;
}

.navbar-custom {
    color: white;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: black;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-custom a {
    color: white;
}

.navbar-custom .nav li a:hover {
    color: rgba(255, 255, 255, 0.8);
    outline: none;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

.content {
    padding: 20px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

iframe {
    width: 100%;
    height: 70vh;
    margin-top: 20px;
}

.navbar-custom .navbar-toggle {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 12px;
}

.tos {
    font-weight: 400;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #000000;
    height: 80px;
    color: white;
    font-family: Arial;
    font-size: 12px;
}

#copyright {
    padding-top: 10px;
    text-align: center;
    margin-bottom:0;
}